

.about h3{
    color:mediumaquamarine;
}

.about-content{
    margin-left: 150px;
    margin-right:150px;
    line-height: 25px;
    
}

.contact{
    color: darkolivegreen;
}



@media screen and (max-width: 414px){




.about-content{
    margin-left: 50px;
    margin-right:50px;
    line-height: 25px;
    
}

    
}