
.footer{
   
    width: auto;
    /* height: 100px; */
    background-color: darkolivegreen;
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding:20px;
    /* position:fixed; */
}

.sign-up{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}
.follow{
    display: flex;
    flex-direction: column;
   

}
.follow h4{
    display: inline-block;
}


.github{
    color: white;
    width: 50px;
    height:25px;


}

.linkedin{
    color: white;
    width: 50px;
    height:25px;
    
}



.youtube{
    color: black;
    height: 50px;
    width:50px;
}
.instagram{
    color: black;
    height: 50px;
    width:50px;

}
.facebook{

 color: black;
    height: 50px;
    width:50px;

}

.email{
    border: none;
    height: 30px;
    width: 80%;
    border-radius: 10px;
}

.submit_btn{
    padding: 10px 15px;
    /* background-color: yellow; */
    color: black;
    border-radius: 20px;
    border:none;
    margin-top: 20px;
}